body{
    background-image: url(./images/bac.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.img1{
    width: 35.625rem;
    margin-left: 6.25rem;
}
.img2{
    width: 25rem;
    margin-left: 6.25rem;
}
.img3{
    width: 25rem;
    margin-left: 6.25rem;
}
.img4{
    margin-left: 6.25rem;
    width: 18.75rem;
    flex: 2;
}
.img5{
    width: 18.75rem;
    flex: 1;
}
