html{
    font-size: 1vw;
}
body{
    background-color: blanchedalmond;
}
.iconfont{
    margin-left: 2.5rem;
    font-size: 1.5625rem;
    font-weight: 700;
}
.iconfont:hover{
    color: purple;
}
.container{
    width: 81.25rem;
    margin-left: 5rem;
    border: .1875rem black solid;
    border-radius: 1.5625rem;
}
.header{
    color: blue;
    width: 81.25rem;
    height: 6.25rem;
    display: flex;
}
a{
    color: blue;
    text-decoration: none;
    font-size: 1.5625rem;
}
a:hover{
    color: purple;
}
.title{
    padding-left: 6.25rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.box1{
    flex: 1;
}
.box2{
    flex: 2;
}
img{
    width: 37.5rem;
    float: left;
    padding-left: 6.25rem;
    padding-right: 3.125rem;
}
.box3{
    flex: 3;
}
.paragraph{
    text-align: left;
    font-size: 1.25rem;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
    white-space: pre-wrap;
    line-height: 2.5rem;
    /* text-indent: 2em; */
}
.box4{
    flex: 2;
}
.content{
    width: 81.25rem;
    padding-top: 1.875rem;
}
.line{
    margin-top: 1.875rem;
}