body{
    background-image: url(./images/bac.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.img1{
    width: 25rem;
    margin-left: 6.25rem;
    flex: 1;
}
.img5{
    width: 18.75rem;
    flex: 1;
}
.img2{
    flex: 1;
    width: 12.5rem;
    margin-left: 6.25rem; 
}
.img3{
    width: 25rem;
    flex: 2;
}
.img4{
    margin-left: 6.25rem; 
    width: 18.75rem;
    flex: 2;
}
.img7{
    width: 6.25rem;
    flex: 1;
}
.img8{
    margin-left: 6.25rem;
    width: 35.625rem;
}
.img6{
    margin-left: 6.25rem;
    width: 18.75rem;
    flex: 1;
}
.img9{
    width: 25rem;
    flex: 1;
}