body{
    background-image: url(./images/bac.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.img1{
    width: 25rem;
    margin-left: 6.25rem;
    flex: 3;
}
.img2{
    flex: 1;
    width: 18.75rem;
}
.img3{
    width: 25rem;
    margin-left: 6.25rem;
    flex: 3;
}
.img4{
    width: 18.75rem;
    flex: 1;
}
.img5{
    width: 25rem;
    margin-left: 6.25rem;
    flex: 3;
}
.img6{
    width: 18.75rem;
    flex: 1;
}
.img7{
    width: 43.75rem;
}
.img11{
    margin-left: 6.25rem;
    width: 20.625rem;
}
.img8{
    margin-left: 1.25rem;
    width: 21.25rem;
}
.img9{
    width: 25rem;
    margin-left: 6.25rem;
}
.img10{
    width: 25rem;
}
.img12{
    width: 37.5rem;
    margin-left: 4.375rem;
}
.img13{
    margin-left: 6.25rem;
    width: 18.75rem;
}
.img14{
    margin-left: 1.25rem;
    width: 12.5rem;
}
.img15{
    margin-left: 1.25rem;
    width: 12.5rem;
}