*{
   margin: 0;
} 
.iconfont{
    margin-left: 50px;
    font-size: 30px;
    color: blue;
}
.iconfont:hover{
    color: purple;
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big_title{
    color: blue;
    font-size: 40px;
    margin-left: 450px;
    flex: 3;
 }
.return{
    font-size: 25px;
    color:blue;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    flex: 2;
}
.return:hover{
    color: purple;
}
.content{ 
    height: 800px;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
}
.section_left{
    margin-left: 200px;
    flex: 1;
    display: block;
    justify-content: center;
}
.img{
    padding: 30px;
    width: 300px;
    height: 370px;
    float: left;
    border: 5px solid black;
}
.section_left_top{
    width: 300px;
    height: 300px;

}
.section_left_bottom{
    width: 300px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    clear: both;
}

.section_right{
    margin-left: 5%;
    justify-content: center;
    flex: 2;
    line-height: 30px;
    font-weight: 500;
}
.touxiang{
    width: 300px;
    float: left;
}
.small_title{
    font-size: 23px;
}
ul{
    font-size: 17px;
    margin: 10px;
    list-style-type: disc;

}
hr{
    opacity: .7;
    align-items: center;
    background-color: grey;
    width: 500px;
    height: 5px;
    border: none;
}