*{
   margin: 0;
} 
html{
    font-size: 1vw;
}
.iconfont{
    margin-left: 3.125rem;
    font-size: 1.875rem;
    color: blue;
}
.iconfont:hover{
    color: purple;
}
header{
    height: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big_title{
    color: blue;
    font-size: 2.5rem;
    margin-left: 28.125rem;
    flex: 3;
 }
.return{
    font-size: 1.5625rem;
    color:blue;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    flex: 2;
}
.return:hover{
    color: purple;
}
.content{ 
    height: 50rem;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
}
.section_left{
    margin-left: 12.5rem;
    flex: 1;
    display: block;
    justify-content: center;
}
.img{
    padding: 1.875rem;
    width: 18.75rem;
    height: 23.125rem;
    float: left;
    border: .3125rem solid black;
}
.section_left_top{
    width: 18.75rem;
    height: 18.75rem;

}
.section_left_bottom{
    width: 18.75rem;
    height: 3.125rem;
    font-size: 1.5625rem;
    text-align: center;
    margin-top: 1.5625rem;
    clear: both;
}

.section_right{
    margin-left: 5%;
    justify-content: center;
    flex: 2;
    line-height: 1.875rem;
    font-weight: 500;
}
.touxiang{
    width: 18.75rem;
    float: left;
}
.small_title{
    font-size: 1.4375rem;
}
ul{
    font-size: 1.0625rem;
    margin: .625rem;
    list-style-type: disc;

}
hr{
    opacity: .7;
    align-items: center;
    background-color: grey;
    width: 31.25rem;
    height: .3125rem;
    border: none;
}