body{
    background-image: url(./images/bac.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.img1{
    width: 570px;
    margin-left: 100px;
}
.img2{
    width: 400px;
    margin-left: 100px;
}
.img3{
    width: 400px;
    margin-left: 100px;
}
.img4{
    margin-left: 100px;
    width: 300px;
    flex: 2;
}
.img5{
    width: 300px;
    flex: 1;
}
