*{
   margin: 0;
} 
h1{
    color: blue;
    font-size: 40px;
}
.return{
    font-size: 25px;
    color:blue;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}
.content{ 
    height: 800px;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    padding-left: 40%;
    padding-top: 7%;
    font-weight: 700;
}
.title{
    font-size: 23px;
}
ul{
    font-size: 17px;
    margin: 10px;
}
hr{
    opacity: .7;
}